<template>
  <NuxtLayout>
    <NuxtLoadingIndicator color="white"></NuxtLoadingIndicator>
    <NuxtPage></NuxtPage>
  </NuxtLayout>
</template>

<script setup lang="ts">
const route = useRoute()

const siteTitle = ref('FadeByNight Fans')
const baseUrl = ref('https://fadebynight.fans')

useHead({
  titleTemplate: () => {
    return route.meta.title
      ? `${route.meta.title} | ${siteTitle.value}`
      : `${siteTitle.value}`
  },
})

useSeoMeta({
  // Open Graph
  ogTitle: () => {
    return route.meta.title
      ? `${route.meta.title} | ${siteTitle.value}`
      : `${siteTitle.value}`
  },
  ogUrl: () => `${baseUrl.value}${route.path}`,
})
</script>
