<template>
  <NuxtLayout name="default">
    <v-row class="mt-1 text-error" align="center" justify="center">
      <v-col cols="auto">
        <v-icon icon="$mdiAlertCircle" size="60"></v-icon>
      </v-col>
      <v-col cols="auto" class="text-center text-h3">
        Error {{ error.statusCode }}
      </v-col>
    </v-row>
    <div class="my-4" align="center">
      <div class="text-body-1 mb-4">
        {{ error.message }}
      </div>
      <v-btn size="small" variant="flat" @click="handleError">
        Return to Home Page
      </v-btn>
    </div>
  </NuxtLayout>
</template>

<script setup lang="ts">
useHead({
  title: 'ERROR | FadeByNight Fans',
})

defineProps({
  error: {
    type: Object,
    required: true,
  },
})

const handleError = () => clearError({ redirect: '/' })
</script>
