<template>
  <svg class="svgicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path
      d="m256,472.97l-37.12-34.02C87.04,318.58,0,238.93,0,141.76,0,62.12,61.95,0,140.8,0c44.54,0,87.3,20.88,115.2,53.61C283.9,20.88,326.66,0,371.2,0c78.85,0,140.8,62.12,140.8,141.76,0,97.17-87.04,176.81-218.88,297.18l-37.12,34.02Z"
      opacity=".4"
    />
    <path
      d="m326.98,207.61l18.76-70.01c6.13-22.88,29.74-36.51,52.62-30.38,22.88,6.13,36.51,29.74,30.38,52.62l-18.76,70.01c-6.13,22.88-29.74,36.51-52.62,30.38-22.88-6.13-36.51-29.74-30.38-52.62Zm142.46,248.86c0,30.65-24.92,55.53-55.63,55.53H24.44c0-24.43,20.02-44.42,44.5-44.42h1.11c-1.11-3.55-1.11-7.33-1.11-11.11,0-30.65,24.92-55.53,55.62-55.53h33.37c-24.47,0-44.5-19.99-44.5-44.42s18.04-42.36,40.8-44.26c-77.94-40.95-118.58-103.8-112.96-162.1.99-10.3,4.99-51.84,39.59-72.6,25.17-15.1,52.79-10.95,68.98-6.25,8.76,2.55,31.99,8.8,40.73,6.18,10.69-3.21,22.32-4.96,34.51-4.96,48,0,88.27,27.69,94.08,63.71,1.14,7.06,1.14,14.18,0,21.24-5.81,36.02-46.08,63.71-94.08,63.71-.24,0-.48-.01-.72-.01l22.31,90.92h109.71v-10.08c-40.95-5.92-72.48-41.07-72.48-83.71h24.16c0,33.36,27.04,60.4,60.4,60.4s60.4-27.04,60.4-60.4h24.16c0,42.64-31.53,77.79-72.48,83.71v10.08c24.42.06,44.38,20.03,44.38,44.42s-20.02,44.42-44.5,44.42h33.38c30.7,0,55.63,24.88,55.63,55.53ZM235.71,136.25c11.68,0,21.24-9.56,21.24-21.24s-9.56-21.24-21.24-21.24-21.24,9.56-21.24,21.24,9.56,21.24,21.24,21.24Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'IFbnf',
}
</script>

<style>
.svgicon {
  fill: currentColor;
}
</style>
