<template>
  <svg class="svgicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path
      d="m256,492.48l-37.12-34.02C87.04,338.09,0,258.45,0,161.28,0,81.63,61.95,19.52,140.8,19.52c44.54,0,87.3,20.88,115.2,53.61,27.9-32.73,70.66-53.61,115.2-53.61,78.85,0,140.8,62.12,140.8,141.76,0,97.17-87.04,176.81-218.88,297.18l-37.12,34.02Z"
      opacity=".4"
    />
    <path
      d="m398.36,126.74c22.88,6.13,36.51,29.74,30.38,52.62l-18.76,70.01c-6.13,22.88-29.74,36.51-52.62,30.38-22.88-6.13-36.51-29.74-30.38-52.62l18.76-70.01c6.13-22.88,29.74-36.51,52.62-30.38Zm14.15,218.59c-33.21,34.42-73.59,71.32-119.39,113.13l-37.12,34.02-37.12-34.02c-38.55-35.2-73.26-66.91-103.09-96.59,5.58-16.42,20.56-28.6,38.46-30.09-77.94-40.95-118.58-103.8-112.96-162.1.99-10.3,4.99-51.84,39.59-72.6,25.17-15.1,52.79-10.95,68.98-6.25,8.76,2.55,31.99,8.8,40.73,6.18,10.69-3.21,22.32-4.96,34.51-4.96,48,0,88.27,27.69,94.08,63.71,1.14,7.06,1.14,14.18,0,21.24-5.81,36.02-46.08,63.71-94.08,63.71-.24,0-.48-.01-.72-.01l22.31,90.92h109.71v-10.08c-40.95-5.92-72.48-41.07-72.48-83.71h24.16c0,33.36,27.04,60.4,60.4,60.4s60.4-27.04,60.4-60.4h24.16c0,42.64-31.53,77.79-72.48,83.71v10.08c12.52.03,23.86,5.31,31.95,13.72Zm-176.8-189.57c11.68,0,21.24-9.56,21.24-21.24s-9.56-21.24-21.24-21.24-21.24,9.56-21.24,21.24,9.56,21.24,21.24,21.24Z"
    />
  </svg>
</template>

<script>
export default {
  name: 'IFbnfHeart',
}
</script>

<style>
.svgicon {
  fill: currentColor;
}
</style>
