<template>
  <v-chip
    :disabled="!social"
    :href="social"
    target="_blank"
    :prepend-icon="icon"
    :text="name"
  ></v-chip>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '[ Anon ]',
    },
    social: {
      type: String,
      default: null,
    },
    icon: {
      type: String,
      default: '$mdiAccount',
    },
  },
}
</script>
