<template>
  <v-card :disabled="url ? false : true" :href="url" target="_blank">
    <v-card-item>
      <template #prepend>
        <v-avatar color="primary" size="60">
          <v-icon :icon="icon" size="42"></v-icon>
        </v-avatar>
      </template>
      <template #title>
        <div class="resource-title">{{ title }}</div>
      </template>
      <template #subtitle>
        <div
          class="resource-subtitle text-caption text-medium-emphasis text-truncate"
        >
          {{ baseUrl }}
          <v-icon icon="$mdiOpenInNew" size="x-small"></v-icon>
        </div>
      </template>
      <template v-if="description" #default>
        {{ description }}
      </template>
    </v-card-item>
    <template v-if="authors.length > 0">
      <v-divider class="mx-2"></v-divider>
      <div class="pt-2 px-2 text-right">
        <span class="text-medium-emphasis">
          <author-chip
            v-for="(author, index) in authors"
            :key="index"
            v-bind="author"
            class="mb-2 ml-1"
            size="small"
            variant="tonal"
          ></author-chip>
        </span>
      </div>
    </template>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '[ No Title ]',
    },
    description: {
      type: String,
      default: null,
    },
    url: {
      type: String,
      default: null,
    },
    icon: {
      type: String,
      default: '$mdiLink',
    },
    authors: {
      type: Array,
      default() {
        return []
      },
    },
  },
  computed: {
    baseUrl() {
      if (this.url) {
        const urlObj = new URL(this.url)
        return urlObj.hostname
      } else {
        return '[ Missing Link ]'
      }
    },
  },
}
</script>

<style>
.resource-title {
  line-height: 1.3rem;
  margin-top: 0.4rem;
  white-space: normal;
}
.resource-subtitle {
  margin-top: -0.2rem;
}
</style>
