<template>
  <v-row>
    <!-- Category groups -->
    <v-col cols="auto">
      <div v-if="loading" class="text-overline text-disabled">
        <v-progress-circular
          aria-hidden="true"
          class="mr-1"
          size="20"
          indeterminate
        ></v-progress-circular>
        Loading...
      </div>
      <div v-else-if="!hasGroups" class="text-overline text-disabled">
        [ No Data ]
      </div>
      <v-card
        v-for="(group, indexA) in links.categories"
        v-else
        :key="`group${indexA}`"
        class="mt-4 rounded-shaped"
        color="secondary-darken-1"
        :max-width="cardWidth"
        variant="flat"
      >
        <template #append>
          <v-icon
            :icon="group.icon || '$mdiPentagram'"
            color="secondary-lighten-1"
          ></v-icon>
        </template>
        <template #title>
          <div class="text-overline text-truncate">
            {{ group.label || '[ No Label ]' }}
          </div>
        </template>
        <v-card-text>
          <!-- Link entries -->
          <div
            v-if="!hasEntries(group)"
            class="text-overline text-disabled text-center"
          >
            [ No Data ]
          </div>
          <link-card
            v-for="(entry, indexB) in group.entries"
            v-else
            :key="indexB"
            class="mb-3"
            v-bind="entry"
            :authors="getAuthors(entry.authors)"
          ></link-card>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
const importLinks = () => import('~/assets/data/links.json')

export default {
  props: {
    cardWidth: {
      type: Number,
      default: 600,
    },
  },
  data() {
    return {
      links: {},
      loading: true,
    }
  },
  computed: {
    hasGroups() {
      return this.links?.categories?.length > 0
    },
  },
  async mounted() {
    await this.getLinks()
  },
  methods: {
    async getLinks() {
      this.links = []
      this.loading = true
      const response = await importLinks()
      this.links = response
      this.loading = false
    },
    getAuthors(authorIds) {
      const authorProfiles = []
      authorIds?.forEach((item) =>
        authorProfiles.push(this.links?.contrib?.[item])
      )
      return authorProfiles
    },
    hasEntries(group) {
      return group?.entries?.length > 0
    },
  },
}
</script>
