<template>
  <svg
    class="svgicon"
    xmlns="http://www.w3.org/2000/svg"
    height="1em"
    viewBox="0 0 122 152"
  >
    <!-- source https://github.com/FortAwesome/Font-Awesome/issues/17069#issuecomment-1545020626 -->
    <path
      d="M71.78,0H50.22v37.12L25.2,11.13L10.78,25.98L36.89,51.6H0v20.79h37.08l-26.3,26.17l14.43,14.66L61,76.65
	l35.98,36.56l14.24-14.66l-26.3-26.17H122V51.6H85.11l26.12-25.61L96.98,11.13l-25.2,25.98V0z M50.22,102.45V152h21.55v-49.55H50.22
	z"
    />
  </svg>
</template>

<script>
export default {
  name: 'ILinktree',
}
</script>

<style>
.svgicon {
  fill: currentColor;
}
</style>
