<template>
  <v-app>
    <!-- Header -->
    <v-expand-transition>
      <v-app-bar
        v-show="$route.path != '/'"
        :height="$route.path != '/' ? 64 : 0"
      >
        <nuxt-link class="text-decoration-none text-white" to="/">
          <v-toolbar-title>
            <v-icon class="mb-1" icon="$mdiChevronLeft" end></v-icon>
            <v-icon
              class="mb-1"
              icon="custom:IFbnfHeart"
              color="primary"
            ></v-icon>
            FadeByNight Fans
          </v-toolbar-title>
        </nuxt-link>
      </v-app-bar>
    </v-expand-transition>

    <v-main>
      <v-container fluid>
        <!-- PAGE -->
        <slot></slot>
      </v-container>
    </v-main>

    <!-- Footer -->
    <v-footer class="pa-0" app absolute>
      <v-row justify="center" no-gutters>
        <template v-for="(link, index) in footLinks" :key="index">
          <v-divider v-if="index > 0" class="my-1" vertical></v-divider>
          <v-btn
            class="mx-1 my-1"
            :text="link.text"
            :to="link.external ? '' : link.url"
            :href="link.external ? link.url : ''"
            :target="link.external ? '_blank' : null"
            size="small"
            variant="plain"
          ></v-btn>
        </template>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script setup lang="ts">
const config = useRuntimeConfig()
const footLinks = ref([
  {
    text: 'About',
    url: '/about',
    external: false,
  },
  {
    text: 'Contact Us',
    url: 'contact',
    external: false,
  },
  {
    text: `© ${new Date().getFullYear()} FadeByNight Fans`,
    url: `${config.public.projectUrl}/-/raw/main/LICENSE`,
    external: true,
  },
])
</script>
