<template>
  <div>
    <!-- About -->
    <v-row class="mt-1" align="center" justify="center">
      <v-col cols="auto">
        <v-card class="pa-4 rounded-shaped" max-width="850">
          <v-card-text class="text-body-1 text-center">
            <v-icon icon="custom:IFbnf" color="accent" size="150"></v-icon>
          </v-card-text>
          <v-card-title>About This Project</v-card-title>
          <v-card-text class="text-body-1 text-medium-emphasis">
            <p>Welcome, fellow FadeByNight fans!</p>
            <p>
              Whether you are a new listener looking to orient yourself, or a
              long-time follower hoping to immerse yourself further, this
              resource was made with <em>you</em> in mind.
            </p>
            <p>
              This site was created as a central hub for all manner of
              community-generated materials. If you have any ideas or
              contributions of your own, please feel free to reach out; I look
              forward to seeing this project continue to grow!
            </p>
            <p>
              This fansite would not exist without the support of the wonderful
              community you all have helped to build. Thank you for being here,
              and keep being amazing!
            </p>
            <p>
              And, of course, many thanks to Jasper for bringing us together,
              and for all the ways he inspires us!
            </p>
            <p class="text-right">
              —
              <a
                class="text-decoration-none text-accent-lighten-1"
                href="https://linktr.ee/Mist0013"
                target="_blank"
              >
                Mist
                <v-icon
                  class="mb-1"
                  icon="$mdiHeartOutline"
                  size="x-small"
                ></v-icon>
              </a>
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
definePageMeta({
  title: 'About',
})
</script>

<style>
p {
  margin-bottom: 16px;
}
</style>
