<template>
  <div>
    <!-- Contact -->
    <v-row class="mt-1" align="center" justify="center">
      <v-col cols="auto">
        <v-card class="pa-4 rounded-shaped" max-width="850">
          <v-card-text class="text-center">
            <v-icon icon="custom:IFbnf" color="primary" size="150"></v-icon>
          </v-card-text>
          <v-card-text class="text-body-1 text-center">
            Have a new suggestion? Found something broken? Or just want to share
            feedback with the team?
          </v-card-text>
          <v-card-actions>
            <v-btn
              :href="supportLink"
              target="_blank"
              text="Email Us!"
              prepend-icon="$mdiEmail"
              color="primary"
              size="x-large"
              variant="elevated"
              block
            >
            </v-btn>
          </v-card-actions>
          <v-card-actions>
            <v-btn
              :href="issuesUrl"
              target="_blank"
              text="or open an issue"
              append-icon="brand:IGitLab"
              color="secondary"
              variant="elevated"
              block
            >
            </v-btn>
          </v-card-actions>
          <v-divider class="my-4"></v-divider>
          <v-card-text class="text-body-1 text-center">
            Want to contribute to the project?
          </v-card-text>
          <v-card-actions>
            <v-btn
              :href="readmeUrl"
              target="_blank"
              text="Learn More!"
              prepend-icon="brand:IGitLab"
              color="info"
              size="x-large"
              variant="elevated"
              block
            >
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
const config = useRuntimeConfig()

definePageMeta({
  title: 'Contact Us',
})

const issuesUrl = ref(`${config.public.projectUrl}/-/issues/new`)
const readmeUrl = ref(`${config.public.projectUrl}/-/blob/main/README.md`)
const supportLink = ref(`mailto:${config.public.supportMail}`)
</script>
