<template>
  <div>
    <!-- Title -->
    <v-row class="mt-1" align="center" justify="center">
      <v-col cols="auto">
        <v-icon icon="custom:IFbnf" color="primary" size="60"></v-icon>
      </v-col>
      <v-col cols="auto" class="text-center text-h3">
        FadeByNight Fan Resources
      </v-col>
    </v-row>
    <!-- Links -->
    <link-directory align="center" justify="center"></link-directory>
    <!-- Disclaimers -->
    <v-row align="center" justify="center">
      <v-col cols="auto">
        <v-alert type="info" icon="$mdiHandHeart" variant="tonal">
          <strong>Disclaimer</strong> — This site is made by fans, for fans.
          Content is not managed by FadeByNightVA.
        </v-alert>
      </v-col>
    </v-row>
  </div>
</template>
